<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SapphireBootWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <SapphireBootWPF.Properties.Settings>
            <setting name="ClientPath" serializeAs="String">
                <value>C:\Program Files (x86)\SquareEnix\FINAL FANTASY XIV - A Realm Reborn\game\ffxiv.exe</value>
            </setting>
            <setting name="LaunchParams" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExpansionLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WebServerUrl" serializeAs="String">
                <value>https://default</value>
            </setting>
            <setting name="SavedLanguage" serializeAs="String">
                <value>1</value>
            </setting>
        </SapphireBootWPF.Properties.Settings>
    </userSettings>
</configuration>
